*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans";
  text-align: left;
  background: url("./assets/bg-main-mobile.png");
  background-position: left;
}

h1,
h2,
p {
  color: #191826;
}

.hero {
  padding: 4em 1.25em;
}

.illustration-top {
  display: none;
}

.main-heading,
.hero-p,
.info-p,
.copyright-and-contact,
.btn {
  max-width: 335px;
}

.main-heading {
  font-size: 2.5rem;
  line-height: 100%;
  margin: 4rem 0 2.5rem 0;
  letter-spacing: -1px;
}

.hero-p,
.info-p {
  line-height: 150%;
}

.hero-p {
  margin-bottom: 4em;
}

.illustration-section {
  background-color: #191826;
  position: relative;
  height: 400px;
  padding: 0 1.25em;
  margin-top: 2em;
}

.illustration-bg {
  width: 20.3125em;
}

.phone-img {
  display: block;
  width: 208.97px;
  position: absolute;
  top: -6em;
  transform: translateX(35%);
}

.info-section {
  background: #fa7453;
  position: relative;
  padding: 3em 1.25em;
}

.info-heading {
  font-size: 2.5rem;
  line-height: 110%;
  margin: 0;
}

.info-p {
  margin: 1.5em 0 2.5em 0;
  font-size: 16px;
}

.price {
  display: flex;
  align-items: center;
}

.price-bold {
  font-size: 4rem;
  font-weight: 600;
  line-height: 110%;
}

.price-regular {
  font-size: 1.25rem;
  line-height: 150%;
  margin-left: 1rem;
}

.btn {
  padding: 16px 32px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 180%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-icon,
.android-icon {
  margin-right: 0.5rem;
  display: inline-block;
  width: 17px;
  height: 20px;
}

.ios-download-btn {
  background: #191826;
  color: white;
  margin: 3rem 0 1rem 0;
}

.ios-download-btn:hover,
.ios-download-btn:focus {
  background: #66e2dc;
  color: #191826;
}

.android-download-btn {
  background: white;
  color: #191826;
  margin-bottom: 3em;
}

.android-download-btn:hover,
.android-download-btn:focus {
  background: #ffb964;
}

.footer {
  padding: 3em 1.25em 5em 1.25em;
}

.copyright-and-contact {
  margin: 2em 0;
  line-height: 150%;
}

.bold {
  font-weight: bold;
}

.social-icons-container {
  display: flex;
  gap: 2em;
}

.social-icon:hover,
.social-icon:focus {
  filter: invert(61%) sepia(10%) saturate(6747%) hue-rotate(326deg)
    brightness(99%) contrast(95%);
}

@media (min-width: 600px) {
  body {
    background: url("./assets/bg-main-tablet.png");
    background-position: bottom right;
  }
  .hero {
    padding: 4em 2.5em;

    position: relative;
  }
  .illustration-top {
    position: absolute;
    display: initial;
    top: -40px;
    right: -40px;
    max-width: 255.67px;
    height: 400px;
  }
  .main-heading {
    font-size: 4rem;
    max-width: 416px;
    margin-top: 8rem;
  }
  .hero-p {
    font-size: 1.125rem;
    max-width: 504px;
  }
  .illustration-section {
    margin: 7.5em 2.5em;
    border-radius: 12px;
    padding: 19em 0;
  }
  .illustration-bg {
    position: absolute;
    top: 0;
  }
  .phone-img {
    width: 280px;
    top: -7em;
    left: -3em;
    z-index: 1;
  }
  .info-section {
    position: absolute;
    border-radius: 16px;
    top: 900px;
    left: 315px;
    z-index: 2;
    padding: 3em 3em 0 3em;
    max-width: 356px;
  }
  .info-p {
    font-size: 1.125rem;
  }
  .footer {
    padding: 9em 2.5em 4em 2.5em;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .copyright-and-contact {
    max-width: 644px;
  }
  .social-icon {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1000px) {
  body {
    background: url("./assets/bg-main-desktop.png");
    background-position: bottom left;
  }
  .hero {
    padding: 4em 20em;
  }
  .main-heading {
    font-size: 5.5rem;
    max-width: 928px;
  }
  .hero-p {
    font-size: 1.25rem;
    max-width: 736px;
  }
  .illustration-top {
    top: 0px;
    right: 0px;
    max-width: 312px;
  }
  .illustration-section {
    max-width: 1100px;
    margin: 7.5em auto;
  }
  .illustration-bg {
    right: 400px;
  }
  .phone-img {
    top: -7em;
    left: 0em;
    width: 312px;
  }
  .info-section {
    top: 890px;
    left: 960px;
    max-width: 512px;
    padding: 3.5em 3.5em 0;
  }
  .footer {
    padding: 9em 20em 4em 20em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-content {
    gap: 20em;
  }
}
