*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans";
  text-align: left;
}

h1,
h2,
p,
.social-icon {
  color: #191826;
}

.hero {
  padding: 4em 1.25em;
  background: url("./assets/bg-main-mobile.png");
  background-position: bottom left;
}

.main-heading,
.hero-p,
.info-p,
.copyright-and-contact,
.btn {
  max-width: 335px;
}

.main-heading {
  font-size: 2.5rem;
  line-height: 100%;
  margin: 4rem 0 2.5rem 0;
  letter-spacing: -1px;
}

.hero-p,
.info-p {
  line-height: 150%;
}

.hero-p {
  margin-bottom: 4em;
}

.illustration-section {
  background-color: #191826;
  position: relative;
  height: 400px;
  padding: 0 1.25em;
  margin-top: 2em;
}

.illustration-bg {
  width: 20.3125em;
}

.phone-img {
  display: block;
  width: 208.97px;
  position: absolute;
  top: -6em;
  transform: translateX(35%);
}

.info-section {
  background: #fa7453;
  position: relative;
  padding: 3em 1.25em;
}

.info-heading {
  font-size: 2.5rem;
  line-height: 110%;
  margin: 0;
}

.info-p {
  margin: 1.5em 0 2.5em 0;
  font-size: 16px;
}

.price {
  display: flex;
  align-items: center;
}

.price-bold {
  font-size: 4rem;
  font-weight: 600;
  line-height: 110%;
}

.price-regular {
  font-size: 1.25rem;
  line-height: 150%;
  margin-left: 1rem;
}

.btn {
  padding: 16px 32px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 180%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-icon,
.android-icon {
  margin-right: 0.5rem;
  display: inline-block;
  width: 17px;
  height: 20px;
}

.ios-download-btn {
  background: #191826;
  color: white;
  margin: 3rem 0 1rem 0;
}

.ios-download-btn:hover,
.ios-download-btn:focus {
  background: #66e2dc;
  color: #191826;
}

.android-download-btn {
  background: white;
  color: #191826;
  margin-bottom: 3em;
}

.android-download-btn:hover,
.android-download-btn:focus {
  background: #ffb964;
}

.footer {
  padding: 3em 1.25em 5em 1.25em;
}

.copyright-and-contact {
  margin: 2em 0;
  line-height: 150%;
}

.bold {
  font-weight: bold;
}

.social-icons-container {
  display: flex;
  gap: 2em;
}
